<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Automation.WebServices.ApplicationSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="Automation.WebDriver.ApplicationSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Automation.WebServices.ApplicationSettings>
      <setting name="Authorization" serializeAs="String">
        <value>Basic </value>
      </setting>
      <setting name="BaseServiceUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="XActualUser" serializeAs="String">
        <value />
      </setting>
    </Automation.WebServices.ApplicationSettings>
  </applicationSettings>
</configuration>